In [1]:
# P1101
ts3 = 'TA Grace' # Please input your English name
!python --version #  Python 版本確認

Python 3.7.12

In [2]:

# P1102 載入Python calendar模組, 輸出月曆
import calendar
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [3]:
### 實作1101, 印出明年的年曆(2022) 

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [4]:
# P1103
from math import pi
print(pi)
print('pi= ', pi)
print('pi= %.6f' % pi)
print('pi= %.3f' % pi)
print('pi= %.2f' % pi)
print('pi= %d' % pi)

3.141592653589793
pi=  3.141592653589793
pi= 3.141593
pi= 3.142
pi= 3.14
pi= 3

In [5]:
# P1104
print('學AI真是太酷了!!') #print顯示的內容必須是字串或是變數

學AI真是太酷了!!

In [6]:
# P1105
x = 3
print(x, x+x, x*x)

# P1106
print(x + 1)   # 加法,Addition
print(x - 1)   # 減法,Subtraction
print(x * 2)   # 乘法,Multiplication
print(x ** 2)  # 指數,Exponentiation (3*3=9)

# P1107
print(x % 2)   # 取餘數, 3%2=1, 5%3=2
print(x/2)     # 除法
print(x//2)     # 整數除法
print(x//4)

3 6 9
4
2
6
9
1
1.5
1
0

In [7]:
### 實作1110
x = 2
y = x + 5
z = x * y
a = x - 3
b = 2**10
print(x, y, z, a, b)
print('x=%d, y=%d, z=%d, a=%d, b=%d' % (x, y, z, a, b))

2 7 14 -1 1024
x=2, y=7, z=14, a=-1, b=1024

In [8]:
# P1108
x = 2
x += 1 # x = x + 1
print(x)
x *= 2 # x = x * 2 (i.e., x = 3*2 = 6)
print(x)

3
6

In [9]:
### 實作1120
x = 2
x = x + 1 

print('x=x+1, x=?', x)

x=x+1, x=? 3

In [10]:
### 實作1121

x = 2
x += 1 # x = x + 1
print('x += 1, x=?', x)
x *= 2 # x = x * 2 (i.e., x = 3*2 = 6)
print('x *= 2, x=?', x)

x += 1, x=? 3
x *= 2, x=? 6

In [11]:
# P1110
y = 2.5
print(type(y)) # Show data type by "type()"
print(y, y + 1, y * 2, y ** 2) # Easy calculation

<class 'float'>
2.5 3.5 5.0 6.25

In [12]:
### 實作1130: check data type

x = 2
print('x=2, type=?', type(x))

y = 2.5
print('y=2.5 type=?', type(y))

z = 'hello'
print('z=hello, typ=?', type(z))

x=2, type=? <class 'int'>
y=2.5 type=? <class 'float'>
z=hello, typ=? <class 'str'>

In [13]:
# P1112A
import keyword
print(keyword.kwlist,end='')

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']1

In [14]:
# P1112B
#and = 1
#print(and)
and1 = 1
print(and1)

1

In [15]:
# P1113 常用輸入輸出
id ="A1234567"
name = input("請輸入姓名") #可加註解
print("Hello ~ ",id+name)

請輸入姓名Horace
Hello ~  A1234567Horace

In [16]:
# P1114 if判斷很常用，條件成立才執行

x = 7
check = (x >= 5)
print('check ?,', check)
if check:
print(x,"> 5 \n") #迴圈內指令前方要縮進
print(x,'> 5, %s\n' % check) #迴圈內指令前方要縮進    

#雙向if 條件成立~執行，不成立~就執行另一個
if 0:  #在python世界裡 1不只是1，還具有 True、真、成立
    print(True)
else:
    print(False) #0不只是0，還具有 False、偽、不成立

IndentationError: ignored

In [17]:
### 實作1135, 請修正以上的Bug

x = 7
check = (x >= 5)
print('check ?,', check)
if check:
  print(x,"> 5 \n") #迴圈內指令前方要縮進
  print(x,'> 5, %s\n' % check) #迴圈內指令前方要縮進 (Tab)   

#雙向if 條件成立~執行，不成立~就執行另一個
if 0:  #在python世界裡 1不只是1，還具有 True、真、成立
    print(True)
else:
    print(False) #0不只是0，還具有 False、偽、不成立

check ?, True
7 > 5

7 > 5, True

False

In [18]:
# P1114a
a = 33
b = 200
if b > a:
  print("b is greater than a") # you will get an error

a = 33
b = 33
if b > a:
  print("b > a")
elif a == b:
  print("a == b")
else:
  print("a > b")

b is greater than a
a == b

In [20]:
# P1115
print("***** 布林邏輯 *****")
one = 1
two = 2
three = 3
print('one > 0: ', one > 0)
print('two > one:',two > one)
print('three < one:', three < one)

***** 布林邏輯 *****
one > 0:  True
two > one: True
three < one: False

In [21]:
# P1116
t = True
f = False
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

In [22]:
### 實作1140
ans1 = (two == three) # == = = + =
ans2 = (two != three)
ans3 = (two > three)
ans4 = (two < three)

print("ans1, ans2, ans3, ans4 =", ans1, ans2, ans3, ans4, '\n')
print("ans1, ans2, ans3, ans4 =", ans1, ans2, ans3, ans4)
print("ans1 = %s, ans2 = %s, ans3 = %s, ans4 = %s" % (ans1, ans2, ans3, ans4), '\n')

ans5 = ans2 and ans4
print('ans2 and ans4 = ans5:', ans2, ans4, ans5)

ans1, ans2, ans3, ans4 = False True False True

ans1, ans2, ans3, ans4 = False True False True
ans1 = False, ans2 = True, ans3 = False, ans4 = True

ans2 and ans4 = ans5: True True True

In [23]:
# P1117
f = 3
g = 3.0000 
if f=g: #判斷要使用==
    print("是的")
else:
    print("才不是哩")

SyntaxError: ignored

In [24]:
### 實作1145: 讓我們一起來除錯吧! (SyntaxError: invalid syntax)
f = 3
g = 3.0000 
if f==g: #判斷要使用 == 
    print("是的")
else:
    print("才不是哩")

是的

In [25]:
# P1118
hello = '**hello** '   # String literals can use single quotes
world = "++world++"   # or double quotes; it does not matter
print(hello, len(hello))
print(world, len(world))

hh = 'hello world'
print('hello world', len(hh))

**hello**  10
++world++ 9
hello world 11

In [26]:
# P1119

hw = hello + world  # 字符串連接 (String concatenation)
print(hw)

hw = hello + ' ' + world  # 字符串連接 (String concatenation)
print(hw)

print('%s %s' % (hello, world))

**hello** ++world++
**hello**  ++world++
**hello**  ++world++

In [27]:
# P1120
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

**hello**  ++world++ 12

In [28]:
### 實作1150
wh = world + ' ' + hello
print(wh)

hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting

print(hw12)

hw13 =('%s %s %d' %(hello, world, 12))  # string formatting

print(hw13)

++world++ **hello**
**hello**  ++world++ 12
**hello**  ++world++ 12

In [29]:
# P1121
s1 = 'hello'
s2 = '  world '
print(s1.capitalize())  # 將字符串大寫
print(s1.upper())       # 將字符串全部轉換為大寫
print(s1.replace('l', '*'))  # 用另一個替換一個子字符串
print(len(s2), s2.strip(), len(s2.strip()))  # 去除前導和尾隨空格

Hello
HELLO
he**o
8 world 5

In [30]:
### 實作1160
s11 = 'good morning'
s12 = '  WORLD aaa AAA'
s13 = 'good#####moring'
print(s11.capitalize())
print(s11.upper())
print(s12.replace("L",'***'))
print(s12.replace("RL",'-----'))
print(len(s12), s12.strip(), len(s12.strip())) 
print(s12.lower())
print(s13, s13.replace('#####',' '))

Good morning
GOOD MORNING
  WOR***D aaa AAA
  WO-----D aaa AAA
15 WORLD aaa AAA 13
  world aaa aaa
good#####moring good moring

In [31]:
# P1122
xs = [3, 2, 1]   # 創立一個List
print(xs)
print(xs[2])
print(xs[0])
print(xs[-1])     
print(xs[-2])
print(xs[-3])
print("Size = ? Ans: ", len(xs))

[3, 2, 1]
1
3
1
2
3
Size = ? Ans:  3

In [32]:
### 實作1171

ss = [10, 20, 30, 40, 50, 'hello', 'world']
print(ss)

print(ss[0])
print(ss[-1])
print(ss[1])
print(ss[4])

print('Size =?, Ans:', len(ss))

# for idx, animal in enumerate(animals):
for box_number, box_content in enumerate(ss):
  print(box_number, box_content)

[10, 20, 30, 40, 50, 'hello', 'world']
10
world
20
50
Size =?, Ans: 7
0 10
1 20
2 30
3 40
4 50
5 hello
6 world

In [33]:
# P1123
xs = [10, 20, 30, 40, 50] 
xs[2] = 'cat'    # 列表可以包含不同類型的元素
print(xs)

[10, 20, 'cat', 40, 50]

In [34]:
### 實作1172
xs[2]='dog'
print(xs)

[10, 20, 'dog', 40, 50]

In [35]:
# P1124
xs.append('fish') # 在列表末尾添加一個新元素
print(xs)  
print(len(xs))

[10, 20, 'dog', 40, 50, 'fish']
6

In [36]:
### 實作1173

xs.append('bird') # 在列表末尾添加一個新元素
print(xs)  
print(len(xs))

[10, 20, 'dog', 40, 50, 'fish', 'bird']
7

In [37]:
# P1125
x = xs.pop()     # 刪除並返回列表的最後一個元素
print(x, xs)

bird [10, 20, 'dog', 40, 50, 'fish']

In [38]:
### 實作1174
x = xs.pop()     # 刪除並返回列表的最後一個元素
print(x, xs)

fish [10, 20, 'dog', 40, 50]

In [39]:
# P1126
print(len('hello'))

5

In [40]:
# P1127
nums = 'hello'
print(nums, len(nums))         
print('nums[2:4] >>',nums[2:4])    
print('nums[2:] >>',nums[2:])     
print(nums[:2])     
print(nums[:])      
print('nums[:-1] >>', nums[:-1])    
print(nums)

hello 5
nums[2:4] >> ll
nums[2:] >> llo
he
hello
nums[:-1] >> hell
hello

In [41]:
### 實作1175
nums = 'world'
print(nums, len(nums))       
print(nums[2:4])    
print(nums[2:])     
print(nums[:2])     
print(nums[:])      
print('nums[:-1] >>', nums[:-1])    
print(nums)

world 5
rl
rld
wo
world
nums[:-1] >> worl
world

In [42]:
### 實作1175a
x = [0, 1, 2, 3, 4, 5]
print(x)
print('x[:] >> ',x[:])

print(x[:3])

print('x[3:] >>', x[3:])

for i in range(1,10,2):
  print(i)

[0, 1, 2, 3, 4, 5]
x[:] >>  [0, 1, 2, 3, 4, 5]
[0, 1, 2]
x[3:] >> [3, 4, 5]
1
3
5
7
9

In [43]:
### Final Result
from datetime import datetime
today = datetime.now()
print('*** Done by %s at ' % ts3,today, type(today))

*** Done by TA Grace at  2021-11-13 15:05:03.998509 <class 'datetime.datetime'>